.color-block {
    padding-right: 1em;
    padding-left: 1em;
    display: flex;
    flex-direction: row;
}

.color-picker {
    padding-left: 0.5em;
}

.palette-block {
    padding: 2em;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}